#Exclding the data
/Data

# Excluding python cache files
/src/Components/__pycache__/
/src/Connections/__pycache__/
/src/Logger/__pycache__/
/configurations/__pycache__
/configurations/config_file.ini

#Excluding the logs
/Logs
